{% macro userFormMacro(userForm,saveUrl='/user/save', formName="userForm") %}
 <form  action="{{ href(saveUrl) }}" method="post" name="{{ formName }}" >
        <table class="table">
                <tr>
                    <td>Nom:</td>
                    <td><input type="text" name="lastName" value="{{userForm.lastName  }}" /></td>
                    <td>
                      {% for errl in getFieldErrors(formName, 'lastName') %}
                        <p>{{ err }}</p>
                   	  {% endfor %}
                    </td>
                </tr>
                <tr>
                    <td>Prénom:</td>
                    <td><input type="text" name="firstName" value="{{userForm.firstName}}" /></td>
                    <td>
                    {% for err in getFieldErrors(formName, 'firstName') %}
                        <p>{{ err }}</p>
                    {% endfor %}
                    </td>
                </tr>
                <tr>
                    <td>Email:</td>
                    <td><input type="email" name="email" value="{{userForm.email}}"  /></td>
                    <td>
                        {% for err in getFieldErrors(formName, 'email') %}
                            <p>{{ err }}</p>
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <td>Login:</td>
                    <td><input type="text" name="login" value="{{userForm.login}}" /></td>
                    <td>
                        {% for err in getFieldErrors(formName, 'login') %}
                            <p>{{ err }}</p>
                        {% endfor %}
                        LG: {{ getFieldErrors(formName, 'login') }}
                    </td>
                </tr>
               {% if userForm.login is null or userForm.id is null or userForm.id<1  %} {# hide passowrd form on edit #}
                <tr>
                    <td>Mot de passe:</td>
                    <td><input type="password" name="password"   /></td>
                    <td>
                        {% for err in getFieldErrors(formName, 'password') %}
                            <p>{{ err }}</p>
                         {% endfor %}
                     </td>
                </tr>
               {% endif %}
                <tr>
                    <td>Roles:</td>
                    <td>
                      {% for authority in userForm.availableAutorities %}
                        <input type="checkbox" 
                               name="autorities" 
                               {% if userForm.autorities contains authority.name %}
                                 checked="checked"                                    
                               {% endif %}
                               value="{{ authority.name }}"> {{ authority.name }}<br>
                      {% endfor %}
                    </td>
                    <td>
                        {% for err in getFieldErrors(formName, 'password') %}
                            <p>{{ err }}</p>
                         {% endfor %}
                     </td>
                </tr>
                <tr>
                    <td>
                  	  <input type="hidden" name="id" value="{{ userForm.id }}" />
                    </td>
                </tr>
                <tr>
                    <td><button class="btn-blue" type="submit">Enregistrer <i class="fa fa-save"></i> </button></td>
                </tr>
        </table>
  </form> 
  {% endmacro %}