{% extends "../layout" %}

{% block title %}
  Gestion utilisateur
{% endblock %}

{% block content %}
		<div class="titre"> <i class="fa fa-plus"></i> 
		   {% if userForm.id is null or userForm.id<0 %}
		     Nouvel utilisateur 
		   {% else %} 
		     Edition de l'utilisateur:
		     {{ userForm.lastName | upper }} 
		     {{ userForm.firstName | capitalize }}  
		  {% endif %}
		</div>
		
		<form  action="{{ href('/user/save') }}" method="post" name="userForm" >
            <table class="table">
                <tr>
                    <td>Nom:</td>
                    <td><input type="text" name="lastName" value="{{userForm.lastName  }}" /></td>
                    <td>
                      {% for err in getFieldErrors('userForm', 'lastName') %}
                        <p>{{ err }}</p>
                   	  {% endfor %}
                    </td>
                </tr>
                <tr>
                    <td>Prénom:</td>
                    <td><input type="text" name="firstName" value="{{userForm.firstName}}" /></td>
                    <td>
                    {% for err in getFieldErrors('userForm', 'firstName') %}
                        <p>{{ err }}</p>
                    {% endfor %}
                    </td>
                </tr>
                <tr>
                    <td>Email:</td>
                    <td><input type="email" name="email" value="{{userForm.email}}"  /></td>
                    <td>
                        {% for err in getFieldErrors('userForm', 'email') %}
                            <p>{{ err }}</p>
                        {% endfor %}
                    </td>
                </tr>
                
                <tr>
                    <td>Login:</td>
                    <td><input type="text" name="login" value="{{userForm.login}}" /></td>
                    <td>
                        {% for err in getFieldErrors('userForm', 'login') %}
                            <p>{{ err }}</p>
                        {% endfor %}
                    </td>
                </tr>
                
                <tr>
                    <td>Mot de passe:</td>
                    <td><input type="password" name="password"   /></td>
                    <td>
                        {% for err in getFieldErrors('userForm', 'password') %}
                            <p>{{ err }}</p>
                         {% endfor %}
                     </td>
                </tr>
                
                <tr>
                    <td>Mot de passe:</td>
                    <td>
                      {% for authority in userForm.avelaibleAutorities %}
                        <input type="checkbox" 
                               name="autorities" 
                               {% if userForm.autorities contains authority.name %}
                                 checked="checked"                                    
                               {% endif %}
                               value="{{ authority.name }}"> {{ authority.name }}<br>
                      {% endfor %}
                    </td>
                    <td>
                        {% for err in getFieldErrors('userForm', 'password') %}
                            <p>{{ err }}</p>
                         {% endfor %}
                     </td>
                </tr>
                

                
                <tr>
                <td>
                <input type="hidden" name="id" value="{{ userForm.id }}" />
                </td>
                </tr>
                <tr>
                    <td><button class="btn-blue" type="submit">Enregistrer <i class="fa fa-save"></i> </button></td>
                </tr>
            </table>
        </form>
{% endblock %}