{% extends "../../layout" %}

{% block title %}
Gestion des étages
{% endblock %}

{% block content %}
<div class="titre">
	<i class="fa fa-plus"></i>
	{% if cleanRequestFormModel.id<0 %}
	 Nouvelle demande
	{% else %}
	Edition de la demande du:
	{{ cleanRequestFormModel.startAt|localDate }}
	 concernant l'espace {{ cleanRequestFormModel.espace.nom }}
	{% endif %}
	 
</div>
	 {% for err in getAllErrors('cleanRequestFormModel') %}
    <b style="color: red;">{{ err }}</b><br>
{% endfor %}  
<form action="{{ href('/cleaning/request/save') }}" method="post" name="cleanRequestFormModel">
	<table class="table">
		<tr>
			<td>Date début:</td>
			<td><input type="datetime" name="startAtStr" value="{{cleanRequestFormModel.startAt|localDate }}" /></td>
		</tr>
		<tr>
			<td>Date limite:</td>
			<td><input type="datetime" name="deadlineDateStr" value="{{cleanRequestFormModel.deadlineDate|localDate  }}" /></td>
		</tr>
		<tr>
			<td>Insctructions:</td>
			<td><textarea name="instructions"> {{cleanRequestFormModel.instructions}} </textarea>
			</td>
		</tr>
		<tr>
		    <td> Espace:</td>
		    <td>
             <select name="espaceId">
                     {% for espaceEntity in cleanRequestFormModel.availableEspaces %}
                      <option value="{{ espaceEntity.id }}"
                             {% if cleanRequestFormModel.espaceId == espaceEntity.id %}
                                 selected                   
                             {% endif %} > 
                           {{ espaceEntity.nom }}
                      </option>  
                    {% endfor %}
              </select>                  
    	   </td>
		</tr>
		<tr>
		 <td> Agent:</td>
    	 <td>
    	     <select name="agentId">
                     {% for agentEntity in cleanRequestFormModel.availableAgents %}
                      <option value="{{ agentEntity.id }}"
                             {% if cleanRequestFormModel.agentId == agentEntity.id %}
                                 selected                   
                             {% endif %} > 
                           {{ agentEntity.firstName }}
                      </option>  
                    {% endfor %}
              </select>                  
    	  </td>
    	 </tr>
    	 <tr>
        	 <td>
        	   Tâches
        	 </td>
        	 <td>
        	    {% for tache in cleanRequestFormModel.availableTaches %}
                      <input type="checkbox" 
                             name="tachesIds" 
                             {% for cleanTask in cleanRequestFormModel.cleanTasks %}
                               {% if cleanTask.id == tache.id %}
                                 checked="checked"                                    
                               {% endif %}
                             {% endfor %}
                             value="{{ tache.id }}" /> 
                     {{ tache.nom }} <i>{{ tache.description }}</i><br>
                {% endfor %}
        	 </td>
    	 </tr>
		 
		<tr>
			<td>
			    <button class="btn-blue" type="submit">
					Enregistrer <i class="fa fa-save"></i>
				</button>
			</td>
		</tr>
	</table>
	<input type="hidden" name="id" value="{{ cleanRequestFormModel.id }}" />
</form>
{% endblock %}