{% extends "../../layout" %} 
  {% block title %} 
   Détails Clean-request 
  {% endblock %} 
{% block content %}
<div class="titre">
    <i class="fa fa-plus"></i> Détails de la clean request: {{ cleanRequest.espace.nom | capitalize }}
    <div class="dropdown pull-right">
        <a href="#" class="dropdown-toggle card-drop" title="Options" data-toggle="dropdown" aria-expanded="false">
            <i style="font-size: 18px" class="ti-settings"></i>
        </a>
        <ul class="dropdown-menu" role="menu">
            <li>
                <a href="{{ href('/cleaning/request/edit')}}/{{ cleanRequest.id }}">Editer </a>
            </li>
        </ul>
    </div>
</div>
<table class="table table-kv ">
    
    <tr>
        <td>Agent:</td>
        <td>{{ cleanRequest.agent.firstName | capitalize }} </td>
    </tr>
    <tr>
        <td>Espace:</td>
        <td>{{ cleanRequest.espace.nom }} </td>
    </tr>
    <tr>
		 <td>Date début:</td>
		 <td> {{cleanRequest.startAt|localDate }} </td>
    </tr>
	<tr>
	  <td>Date limite:</td>
	  <td> {{cleanRequest.deadlineDate|localDate  }} </td>
    </tr>
    <tr>
        <td>Tâches:</td>
        <td>
        {% for task in cleanRequest.cleanTasks  %}
        {{ task.name }} |  {{ task.description }} | <span style="color: red"> {{ task.done? 'Oui': 'Non' }} </span><br>
        {% endfor %}
        </td>
    </tr>
    <tr>
        <td>Description:</td>
        <td>{{ cleanRequest.instructions }} </td>
    </tr>
    <tr>
        <td>Manager:</td>
        <td>{{ cleanRequest.manager.firstName | capitalize }} </td>
    </tr>
</table>
<hr>

{% include "../../partials/systemInfo" with {"infoForEntity": cleanRequest} %}

<script id="TacheDefinitionEntity" type="application/json">
    {{ cleanRequest | raw }}

</script>
<script>
   /*  System.import('tache/definition/index.js'); */
</script>
{% endblock %} {% block appImport %} {% endblock %}
