{% extends "../../layout" %}

{% block title %}
  Liste des utilisateurs
{% endblock %}

{% block content %}
		<div class="titre">
			<i class="ti-list-ol"></i> <span> Liste des emplacements</span>
			<div class="dropdown pull-right">
	                             <a href="#" class="dropdown-toggle card-drop" title="Options" data-toggle="dropdown" aria-expanded="false">
	                                  <i style="font-size: 18px" 
	                                     class="ti-settings"
	                                     ></i>
	                             </a>
	                            <ul class="dropdown-menu" role="menu">
	                                 <li>
	                                 	<a href="{{ href('/espaces/batiment/new') }}">
	                                 		Ajouter batiment
	                                 	</a>
	                                 </li>
	                                 <li><a href="#">
	                                       Editer</a>
	                                 </li>
	                            </ul>
	        </div>
		</div>
		
		<table class="table">
			<thead>
				<tr>
					<th>Nom</th>
					<th>Description</th>
					<th>Etages</th>
					<th>Adresse</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
			    {% for entity in batiments %}
				<tr>
					<td> {{ entity.nom }}</td>
					<td>{{ entity.description }}</td>
					<td>
					     {% for etage in entity.etages %}
						     {{ etage.nom }} <br>
						     
						 {% endfor %}
                    </td>
                    <td>{{ entity.adresse }}</td>
					<td>
					   <div class="dropdown pull-right">
                             <a href="#" class="dropdown-toggle card-drop" data-toggle="dropdown" aria-expanded="false">
                                  <i class="zmdi zmdi-more-vert"></i>
                             </a>
                            <ul class="dropdown-menu" role="menu">
                                 <li> <a href="{{ href('/espaces/batiment/show')}}/{{ entity.id }}" >Détails</a></li>
                                 <li> <a href="{{ href('/espaces/batiment/edit')}}/{{ entity.id }}" >Editer </a></li>
                            </ul>
                       </div>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
{% endblock %}