{% extends "../../layout" %}

{% block title %}
  Détails utilisateur
{% endblock %}

{% block content %}
        <div class="titre"> <i class="fa fa-plus"></i> 
		     Détails du batiment:
		     {{ batiment.nom | capitalize }}  
		</div>	   
		<table class="table table-kv ">
                <tr>
                    <td>Nom:</td>
                    <td>{{ batiment.nom | capitalize  }} </td>
                </tr>
                <tr>
                    <td>Description:</td>
                    <td>{{ batiment.description  }} </td>
                </tr>
                <tr>
                    <td>Etages:</td>
                    <td> 
                     <ul class="no-style">
                         {% for etage in batiment.etages %}
    						   <li title="{{ etage.description }}"> 
    						     {{ etage.nom }}
    						     <form method="post" action="{{ removeEtage.postTo }}" name="removeEtage">
        						      <input type="hidden" name="id" value="{{ etage.id }}"/>
        						      <input type="hidden" name="redirectTo" value="{{ removeEtage.redirectTo }}"/>
        						     <button>Supprimer</button>
        						 </form>
    						    </li>  
    					 {% endfor %} 
					 </ul>
					</td>
                </tr>
                <tr>
                    <td>Adresse:</td>
                    <td>{{ batiment.adresse   }} </td>
                </tr>
                
                <tr>
                    <td>Actions:</td>
                    <td>
                   	 <ul class="no-style">
                   	   	<li> <a href="{{ href('/espaces/batiment')}}/{{ batiment.id }}/etage/new" >Ajouter étage </a></li>
                   	 	<li> <a href="{{ href('/espaces/batiment/edit')}}/{{ batiment.id }}" >Editer </a></li>
                   	 </ul>
                    </td>
                </tr>
        </table>
{% endblock %}
 
</body>
</html>