{% extends "../../layout" %}
{% block title %}
    Détails batiment
{% endblock %}
{% block content %}
<div class="titre"> <i class="fa fa-plus"></i> 
   Détails du batiment: {{ batiment.nom | capitalize }}  
</div>
<table  class="table table-kv " >
   <tr>
      <td>Nom:</td>
      <td>{{ batiment.nom | capitalize  }} </td>
   </tr>
   <tr>
      <td>Description:</td>
      <td>{{ batiment.description  }} </td>
   </tr>
   <tr>
      <td>Etages:</td>
      <td>
         <div id="ListEtagesComponent"></div>
      </td>
   </tr>
   <tr>
      <td>Adresse:</td>
      <td>{{ batiment.adresse   }} </td>
   </tr>
   <tr>
      <td>Actions:</td>
      <td>
         <ul class="no-style">
            <li> <a href="{{ href('/espaces/batiment')}}/{{ batiment.id }}/etage/new" >Ajouter étage </a></li>
            <li> <a href="{{ href('/espaces/batiment/edit')}}/{{ batiment.id }}" >Editer </a></li>
         </ul>
      </td>
   </tr>
</table>
<script id="ListEtages" type="application/json">
   {{ batiment|raw }} 
</script>
<script src="/resources/web-app/espaces/espaces.config.js"></script>        
{% endblock %}
{% block appImport %}
{% endblock %}