{% extends "../../layout" %}

{% block title %}
  Liste des étages
{% endblock %}

{% block content %}
		<div class="titre">
			<i class="ti-list-ol"></i> <span> Liste des étages</span>
			<div class="dropdown pull-right">
	                             <a href="#" class="dropdown-toggle card-drop" title="Options" data-toggle="dropdown" aria-expanded="false">
	                                  <i style="font-size: 18px" 
	                                     class="ti-settings"
	                                     ></i>
	                             </a>
	                            <ul class="dropdown-menu" role="menu">
	                                 <li>
	                                 	<a href="{{ href('/espaces/batiment/new') }}">
	                                 		Ajouter étage 
	                                 	</a>
	                                 </li> 
	                            </ul>
	        </div>
		</div>
		
		<table class="table table-kv">
			<thead>
				<tr>  
					<th>Nom</th>
					<th>Batiment</th>
					<th>Description</th>
					<th>Mise à jour</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
			    {% for entity in etages %}
				<tr>
					<td> 
						<a href="{{ href('/espaces/etage/show')}}/{{ entity.id }}">  
					   	    {{ entity.nom }}
						</a>
					</td>
					<td> 
					 <a href="{{ href('/espaces/batiment/show')}}/{{ entity.batiment.id }}">     
					     {{ entity.batiment.nom }} </a>
                    </td>
                    <td> {{ entity.description }}  </td>
                    <td> {{ entity.lastModifiedDate|zonedDate }}  </td>
					<td>
					   <div class="dropdown pull-right">
                             <a href="#" class="dropdown-toggle card-drop" data-toggle="dropdown" aria-expanded="false">
                                  <i class="zmdi zmdi-more-vert"></i>
                             </a>
                            <ul class="dropdown-menu" role="menu">
                                 <li> <a href="{{ href('/espaces/etage/show')}}/{{ entity.id }}" >Détails</a></li>
                                 <li> <a href="{{ href('/espaces/etage/edit')}}/{{ entity.id }}" >Editer </a></li>
                            </ul>
                       </div>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
{% endblock %}