{% extends "../../layout" %} 
  {% block title %} 
   Détails définition de la tâche
  {% endblock %} 
{% block content %}
<div class="titre">
    <i class="fa fa-plus"></i> Détails définition de la tâche: {{ tacheDefinition.nom | capitalize }}
    <div class="dropdown pull-right">
        <a href="#" class="dropdown-toggle card-drop" title="Options" data-toggle="dropdown" aria-expanded="false">
            <i style="font-size: 18px" class="ti-settings"></i>
        </a>
        <ul class="dropdown-menu" role="menu">
            <li>
                <a href="{{ href('/tache/definition/edit')}}/{{ tacheDefinition.id }}">Editer </a>
            </li>
        </ul>
    </div>
</div>
<table class="table table-kv ">
    <tr>
        <td>Nom:</td>
        <td>{{ tacheDefinition.nom | capitalize }} </td>
    </tr>
    <tr>
        <td>Description:</td>
        <td>{{ tacheDefinition.description }} </td>
    </tr>
</table>
<hr>

{% include "../../partials/systemInfo" with {"infoForEntity": tacheDefinition} %}

<script id="TacheDefinitionEntity" type="application/json">
    {{ tacheDefinition | raw }}

</script>
<script>
   /*  System.import('tache/definition/index.js'); */
</script>
{% endblock %} {% block appImport %} {% endblock %}
